/* Variables */
#img-turnos1 {
  animation: aparecer 2s; }

#img-turnos2 {
  animation: aparecer 2s; }

#img-saludvisual1 {
  animation: aparecer 2s; }

#img-saludvisual2 {
  animation: aparecer 2s; }

#img-novedades1 {
  animation: aparecer 2s; }

#img-novedades2 {
  animation: aparecer 2s; }

#img-ayuda1 {
  animation: aparecer 2s; }

#img-ayuda2 {
  animation: aparecer 2s; }

#img-contacto1 {
  animation: aparecer 2s; }

#img-contacto2 {
  animation: aparecer 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* SCSS*/
* {
  margin: 0;
  padding: 0; }
  * body {
    background-color: #edebec;
    font-family: "Roboto", sans-serif;
    width: 100%; }

.contenedor {
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "contenedor__header contenedor__header  contenedor__header  contenedor__header" "contenedor__contenido contenedor__contenido contenedor__sidebar contenedor__sidebar" "contenedor__footer contenedor__footer contenedor__footer contenedor__footer"; }

.contenedor .contenedor__header {
  grid-area: contenedor__header;
  display: grid;
  background-color: #f8f9fa;
  z-index: 2;
  box-shadow: 0 0 3px 3px #edebec;
  align-items: right;
  color: #192d50;
  width: 100%;
  position: fixed;
  animation: slideInDown 1s; }
  .contenedor .contenedor__header .navbar-nav {
    background-color: #f8f9fa;
    width: 100%;
    position: fixed;
    color: #192d50;
    text-decoration: none;
    justify-content: center;
    font-size: 15px; }
  .contenedor .contenedor__header #nav {
    color: #192d50; }
    .contenedor .contenedor__header #nav .hvr-underline-from-center {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden; }
    .contenedor .contenedor__header #nav .hvr-underline-from-center:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: black;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    .contenedor .contenedor__header #nav .hvr-underline-from-center:hover:before, .contenedor .contenedor__header #nav .hvr-underline-from-center:focus:before, .contenedor .contenedor__header #nav .hvr-underline-from-center:active:before {
      left: 0;
      right: 0; }
  .contenedor .contenedor__header .header__logo {
    width: 250px; }

.contenedor__header nav a {
  margin: 0px 20px 0px 20px;
  color: #192d50; }

.contenedor__contenido {
  /*grid-column: span 3;*/
  background-color: asd;
  color: #010101;
  grid-area: contenedor__contenido;
  justify-self: center;
  align-self: flex-start;
  display: grid;
  max-width: 100%;
  height: 100%; }

.contenedor__sidebar {
  /*grid-column: span 3;*/
  background-color: #edebec;
  color: #010101;
  grid-area: contenedor__sidebar;
  justify-self: center;
  align-self: flex-start;
  display: grid;
  max-width: 100%;
  height: 100%; }

.contenedor__footer {
  background: #fff;
  color: #192d50;
  grid-area: contenedor__footer;
  padding: 20px 0px 0px 0px;
  margin-bottom: 0px;
  z-index: 2;
  box-shadow: 0 0 3px 3px #edebec;
  display: grid;
  justify-self: stretch;
  align-self: stretch; }

.contactoColumna33 {
  display: inline-grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: center; }
  .contactoColumna33 .contact {
    list-style: none; }

.novedadesColumna33 {
  display: inline-grid;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: center; }
  .novedadesColumna33 .blockNov input {
    width: 100%; }

.botonEnviarFooter input {
  width: 30%;
  margin-top: 10px;
  justify-content: center; }

.barra {
  font-size: 14px;
  display: grid;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0; }

.redesColumna33 {
  display: inline-grid;
  grid-column-start: 3;
  grid-column-end: 3;
  width: 100%;
  justify-content: center;
  text-align: center; }
  .redesColumna33 .redesColumna33 h3 {
    display: inline-grid;
    text-align: left;
    padding-right: 30px;
    justify-self: center; }

.redesColumna33 .redes {
  list-style: none;
  display: inline-flex;
  justify-self: center; }

#social-facebook, #social-instagram {
  width: 35px;
  height: 35px;
  display: inline-grid; }
  #social-facebook:hover, #social-instagram:hover {
    opacity: 0.5; }

#social-facebook {
  background-image: url(../img/social/facebook.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#social-instagram {
  background-image: url(../img/social/instagram.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

/*INDEX*/
.contenido__bloqueHome {
  margin: 0px 0px 30px 50px;
  padding: 0px 0px 30px 0;
  justify-self: center;
  align-self: center;
  width: 75%;
  grid-area: contenedor__contenido;
  animation: aparecer 3s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .contenido__bloqueHome h1 {
    font-size: 40px; }
  .contenido__bloqueHome p {
    font-size: 22px;
    color: #010101;
    font-weight: lighter; }
  .contenido__bloqueHome b {
    font-weight: bold; }

#btn-modal {
  color: #192d50;
  background-color: #f8f9fa;
  margin-right: 30px;
  border-radius: 20px;
  border: none; }
  #btn-modal .hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; }
  #btn-modal .hvr-shadow:hover, #btn-modal .hvr-shadow:focus, #btn-modal .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.sidebar__imagenes {
  grid-area: contenedor__sidebar;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  animation: aparecer 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*TURNOS*/
.contenido__bloqueTurnos {
  margin-top: 150px;
  align-self: flex-start;
  justify-self: center;
  width: 80%;
  margin-left: 20px;
  grid-area: contenedor__contenido; }
  .contenido__bloqueTurnos h1 {
    font-size: 38px; }
  .contenido__bloqueTurnos .olTurnos {
    margin-top: 20px;
    text-align: justify;
    font-style: italic;
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter; }
    .contenido__bloqueTurnos .olTurnos li {
      font-size: 18px;
      font-style: lighter;
      justify-content: flex-end;
      width: 80%;
      text-align: justify;
      margin-left: 50px;
      margin-bottom: 10px; }

#btn-datos {
  color: #192d50;
  background-color: #f8f9fa;
  margin-right: 30px;
  border-radius: 20px;
  border: none; }
  #btn-datos .hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; }
  #btn-datos .hvr-shadow:hover, #btn-datos .hvr-shadow:focus, #btn-datos .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.contenido__padreFlexForm {
  width: 100%;
  align-self: flex-end;
  justify-self: center;
  grid-area: contenedor__contenido;
  margin-top: 200px; }
  .contenido__padreFlexForm .formTurnos {
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%; }
  .contenido__padreFlexForm label {
    margin-left: 35px; }
  .contenido__padreFlexForm input {
    margin-left: 35px; }

.contenido__padreFlexForm .formTurnos select {
  width: 100%;
  margin-left: 35px; }

#btn-enviar {
  color: #192d50;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: none; }
  #btn-enviar .hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; }
  #btn-enviar .hvr-shadow:hover, #btn-enviar .hvr-shadow:focus, #btn-enviar .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.sidebar__imagenesTurnos #img-turnos1 {
  width: 100%;
  display: grid;
  grid-area: contenedor__sidebar;
  align-self: flex-start;
  justify-self: center; }

.sidebar__imagenesTurnos #img-turnos2 {
  width: 100%;
  height: 600px;
  display: grid;
  grid-area: contenedor__sidebar;
  align-self: flex-end;
  margin-top: 120px; }

/* SALUD VISUAL */
.contenido__bloqueSalud {
  width: 420px;
  margin-top: 140px;
  grid-area: contenedor__contenido;
  justify-self: center;
  align-self: center;
  display: inline-grid; }
  .contenido__bloqueSalud h1 {
    font-size: 40px; }
  .contenido__bloqueSalud p {
    font-size: 22px;
    line-height: 1.4;
    text-align: justify;
    margin-top: 30px;
    font-weight: lighter; }

#btn-ir {
  color: #192d50;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: none; }
  #btn-ir .hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; }
  #btn-ir .hvr-shadow:hover, #btn-ir .hvr-shadow:focus, #btn-ir .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.sidebar__imagenesSalud {
  display: grid;
  grid-area: contenedor__sidebar;
  grid-gap: 20px; }
  .sidebar__imagenesSalud .imagenesSalud__img1 {
    width: 100%;
    text-align: right; }
  .sidebar__imagenesSalud .imagenesSalud__img2 {
    display: inline-grid;
    width: 100%;
    justify-self: center;
    align-self: center; }

/* NOVEDADES */
.contenido__bloqueNovedades1 {
  width: 400px;
  text-align: justify;
  justify-self: center;
  align-self: flex-start;
  grid-area: contenedor__contenido;
  margin-bottom: 200px;
  margin-top: 150px; }
  .contenido__bloqueNovedades1 h1 {
    font-size: 40px;
    text-align: left; }
  .contenido__bloqueNovedades1 p {
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter;
    width: 400px; }

.contenido__bloqueNovedades1 .masInfo {
  font-size: 18px;
  width: 400px;
  font-style: italic;
  margin-top: 10px; }

.botonWeb {
  font-size: 18px;
  width: 400px;
  margin-left: 10px;
  color: black; }

.contenido__bloqueNovedades2 {
  width: 400px;
  text-align: justify;
  justify-self: center;
  align-self: flex-end;
  grid-area: contenedor__contenido;
  margin-bottom: 0px;
  margin-top: 250px; }

.contenido__bloqueNovedades2 h2 {
  margin-top: 200px;
  text-align: justify-all;
  font-size: 30px; }

.contenido__bloqueNovedades2 .textoBloque2 {
  font-size: 22px;
  line-height: 1.4;
  font-weight: lighter;
  margin-top: 40px; }

.sidebar__imagenesNovedades #img-novedades1 {
  width: 100%;
  display: grid;
  grid-area: contenedor__sidebar;
  align-self: flex-start;
  justify-self: center; }

.sidebar__imagenesNovedades #img-novedades2 {
  width: 100%;
  display: grid;
  grid-area: contenedor__sidebar;
  align-self: flex-end;
  justify-self: center; }

/*AYUDA*/
.sidebar__imagenesAyuda .ayudaImg1 {
  width: 100%;
  grid-area: contenedor__sidebar; }

.sidebar__imagenesAyuda .ayudaImg2 {
  width: 100%;
  grid-area: contenedor__sidebar; }

.contenido__bloqueAyuda1 {
  grid-area: contenedor__contenido;
  justify-self: center;
  align-self: center;
  width: 75%;
  margin-top: 150px;
  margin-left: 50px; }

.contenido__bloqueAyuda1 h1 {
  font-size: 40px; }

.contenido__bloqueAyuda1 p {
  text-align: justify;
  font-size: 22px;
  line-height: 1.4;
  font-weight: lighter; }

.contenido__bloqueAyuda2 {
  width: 75%;
  grid-area: contenedor__contenido;
  text-align: justify;
  justify-self: center;
  align-self: flex-end;
  margin-left: 50px;
  margin-top: 200px; }

.contenido__bloqueAyuda2 h2 {
  font-size: 30px;
  text-align: left; }

.contenido__bloqueAyuda2 ol {
  text-align: justify;
  margin-top: 50px;
  margin-left: 25px;
  width: 100%;
  font-size: 22px;
  line-height: 1.4;
  font-weight: lighter; }

.contenido__dudasAyuda p {
  text-align: justify;
  font-style: italic;
  justify-content: flex-end;
  font-size: 22px;
  line-height: 1.4;
  font-weight: lighter; }

/*CONTACTO*/
.ayudaCon1 {
  width: 100%;
  display: inline-grid;
  grid-area: contenedor__sidebar; }

.ayudaCon2 {
  width: 100%;
  display: inline-grid;
  grid-area: contenedor__sidebar; }

.contenido__bloqueContacto1 {
  width: 100%;
  display: grid;
  grid-area: contenedor__contenido;
  align-self: flex-start;
  justify-self: center;
  margin-top: 150px;
  margin-bottom: 0px; }

.contenido__bloqueContacto1 h1 {
  font-size: 40px; }

.contenido__bloqueContacto1 p {
  text-align: justify;
  font-size: 19px;
  line-height: 1.5; }

.contenido__formContacto {
  width: 100%;
  display: inline-grid;
  grid-area: contenedor__contenido;
  align-self: flex-end;
  margin-bottom: 0px;
  margin-top: 200px; }

.contenido__formContacto h2 {
  font-size: 28px;
  padding-bottom: 30px; }

.contenido__formContacto .contactoForm {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6; }

.contenido__formContacto .contactoForm input {
  width: 100%;
  display: inline; }

label {
  display: inline; }

input .check {
  display: inline; }

.contenido__formContacto .contactoForm select {
  width: 100%;
  font-size: 16px; }

.contenido__formContacto .contactoFormText {
  font-size: 16px; }

.contenido__formContacto .contactoFormText textarea {
  width: 100%;
  font-size: 16px; }

#btn-contacto {
  color: #192d50;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px; }
  #btn-contacto .hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; }
  #btn-contacto .hvr-shadow:hover, #btn-contacto .hvr-shadow:focus, #btn-contacto .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

#btn-reset {
  color: #192d50;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: none;
  margin-bottom: 50px; }
  #btn-reset .hvr-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow; }
  #btn-reset .hvr-shadow:hover, #btn-reset .hvr-shadow:focus, #btn-reset .hvr-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

/*MEDIA QUERY*/
@media only screen and (max-width: 767px) {
  * {
    max-width: 767px;
    margin: 0;
    padding: 0; }
  .contenedor {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "contenedor__header" "contenedor__contenido" "contenedor__sidebar" "contenedor__footer"; }
  /*FOOTER RESPONSIVE*/
  .contenedor__footer {
    background: #fff;
    color: #010101;
    grid-area: contenedor__footer;
    padding: 30px 0px 10px 0px;
    display: grid;
    justify-self: center;
    align-self: center;
    text-align: center;
    max-width: 767px;
    width: 100%; }
  /*INDEX*/
  .contenido__bloqueHome {
    margin: 0;
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 50px;
    padding: 0;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    width: 100%;
    grid-area: contenedor__contenido; }
    .contenido__bloqueHome h1 {
      font-size: 40px; }
    .contenido__bloqueHome p {
      font-size: 22px;
      color: #010101;
      font-weight: lighter; }
    .contenido__bloqueHome b {
      font-weight: bold; }
  /*TURNOS*/
  .contenido__bloqueTurnos {
    width: 100%;
    align-self: flex-start;
    justify-self: center;
    grid-area: contenedor__contenido;
    margin-top: 200px;
    margin-left: 0px; }
    .contenido__bloqueTurnos h1 {
      font-size: 38px;
      text-align: center; }
    .contenido__bloqueTurnos .olTurnos {
      margin-top: 20px;
      text-align: center;
      justify-self: center; }
      .contenido__bloqueTurnos .olTurnos li {
        font-size: 18px;
        font-style: lighter;
        justify-self: center;
        width: 100%;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px; }
  .botonDatos {
    visibility: hidden;
    margin: 0; }
  .contenido__padreFlexForm {
    width: 100%;
    align-self: flex-end;
    justify-self: center;
    grid-area: contenedor__contenido;
    margin-top: 150px; }
    .contenido__padreFlexForm .titulo {
      text-align: center; }
    .contenido__padreFlexForm .formTurnos {
      font-size: 16px;
      margin-bottom: 20px;
      margin-left: 30px;
      width: 80%; }
    .contenido__padreFlexForm label {
      margin: 0; }
    .contenido__padreFlexForm input {
      margin: 0; }
    .contenido__padreFlexForm #listado-optica {
      margin: 0; }
  #botonTurno {
    color: #010101;
    background-color: white;
    font-size: 15px;
    font-weight: lighter;
    border: none;
    border-radius: 30px;
    padding: 10px;
    justify-self: center;
    display: inline-grid;
    margin-left: 30px; }
  #img-turnos1 {
    grid-area: contenedor__sidebar;
    align-self: flex-end;
    width: 100%;
    margin: 0; }
  #img-turnos2 {
    margin: 0;
    width: 100%;
    grid-area: contenedor__sidebar;
    align-self: flex-start; }
  /* SALUD VISUAL */
  .contenido__bloqueSalud {
    width: 100%;
    margin-top: 140px;
    grid-area: contenedor__contenido;
    justify-self: center;
    align-self: center;
    display: inline-grid; }
    .contenido__bloqueSalud h1 {
      font-size: 40px; }
    .contenido__bloqueSalud p {
      font-size: 22px;
      line-height: 1.4;
      text-align: justify;
      margin-top: 30px;
      font-weight: lighter; }
  .botonIr {
    text-align: right;
    justify-self: flex-end;
    align-self: center; }
  .sidebar__imagenesSalud {
    display: grid;
    grid-area: contenedor__sidebar;
    grid-gap: 20px; }
    .sidebar__imagenesSalud .imagenesSalud__img1 {
      width: 100%;
      text-align: right; }
    .sidebar__imagenesSalud .imagenesSalud__img2 {
      display: inline-grid;
      width: 100%;
      justify-self: center;
      align-self: center; }
  /* NOVEDADES */
  .contenido__bloqueNovedades1 {
    width: 100%;
    text-align: justify;
    justify-self: center;
    align-self: flex-start;
    grid-area: contenedor__contenido;
    margin-top: 200px;
    margin-bottom: 150px; }
    .contenido__bloqueNovedades1 h1 {
      font-size: 33px;
      width: 100%;
      text-align: center; }
    .contenido__bloqueNovedades1 p {
      width: 100%;
      font-size: 22px;
      line-height: 1.4;
      font-weight: lighter; }
  .contenido__bloqueNovedades1 .masInfo {
    font-size: 18px;
    width: 100%;
    font-style: italic;
    margin-top: 10px; }
  .botonWeb {
    font-size: 18px;
    width: 400px;
    margin-left: 10px;
    color: black; }
  .contenido__bloqueNovedades2 {
    width: 100%;
    text-align: justify;
    justify-self: center;
    align-self: flex-end;
    grid-area: contenedor__contenido;
    margin-top: 0px; }
  .contenido__bloqueNovedades2 h2 {
    margin-top: 0px;
    text-align: justify-all;
    font-size: 30px; }
  .contenido__bloqueNovedades2 .textoBloque2 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter;
    margin-top: 40px; }
  #img-novedades1 {
    width: 100%;
    margin: 0; }
  #img-novedades2 {
    width: 100%; }
  /*CONTACTO*/
  #img-contacto1 {
    width: 100%;
    display: inline-grid;
    grid-area: contenedor__sidebar; }
  #img-contacto2 {
    width: 100%;
    display: inline-grid;
    grid-area: contenedor__sidebar; }
  .contenido__bloqueContacto1 {
    width: 100%;
    display: grid;
    grid-area: contenedor__contenido;
    align-self: flex-start;
    justify-self: center;
    text-align: flex-start;
    margin-top: 150px;
    margin-bottom: 0px; }
  .contenido__bloqueContacto1 h1 {
    font-size: 40px;
    text-align: center; }
  .contenido__bloqueContacto1 p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    width: 100%; }
  .contenido__formContacto {
    margin-top: 100px;
    width: 100%;
    display: inline-grid;
    grid-area: contenedor__contenido;
    align-self: flex-end;
    justify-self: flex-start;
    margin-bottom: 100px; }
  .contenido__formContacto h2 {
    font-size: 28px;
    padding-bottom: 30px;
    text-align: center; }
  .contenido__formContacto .contactoForm {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.6;
    margin-left: 30px; }
  .contenido__formContacto .contactoForm input {
    width: 80%;
    display: inline; }
  label {
    display: inline;
    text-align: left; }
  .contenido__formContacto .contactoForm select {
    width: 80%;
    font-size: 16px; }
  .contenido__formContacto .contactoFormText {
    font-size: 16px; }
  .contenido__formContacto .contactoFormText textarea {
    width: 70%;
    font-size: 16px; }
  #boton-submit-contacto {
    color: #010101;
    background-color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 50%;
    justify-self: center;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    display: inline-grid;
    margin: 0;
    margin-left: 60px;
    margin-bottom: 30px; }
  #boton-reset-contacto {
    color: #010101;
    background-color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    width: 65%;
    padding: 5px;
    margin: 0;
    margin-left: 35px; } }
