/* Variables */
#img-turnos1 {
  animation: aparecer 2s; }

#img-turnos2 {
  animation: aparecer 2s; }

#img-saludvisual1 {
  animation: aparecer 2s; }

#img-saludvisual2 {
  animation: aparecer 2s; }

#img-novedades1 {
  animation: aparecer 2s; }

#img-novedades2 {
  animation: aparecer 2s; }

#img-ayuda1 {
  animation: aparecer 2s; }

#img-ayuda2 {
  animation: aparecer 2s; }

#img-contacto1 {
  animation: aparecer 2s; }

#img-contacto2 {
  animation: aparecer 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* SCSS*/
* {
  margin: 0;
  padding: 0; }
  * body {
    background-color: #edebec;
    font-family: "Roboto", sans-serif;
    width: 100%; }

.contenedor {
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "contenedor__header contenedor__header  contenedor__header  contenedor__header" "contenedor__contenido contenedor__contenido contenedor__sidebar contenedor__sidebar" "contenedor__footer contenedor__footer contenedor__footer contenedor__footer"; }

.contenedor .contenedor__header {
  grid-area: contenedor__header;
  display: grid;
  background-color: #f8f9fa;
  z-index: 2;
  box-shadow: 0 0 3px 3px #edebec;
  align-items: right;
  width: 100%;
  position: fixed;
  animation: slideInDown 1s; }
  .contenedor .contenedor__header .navbar-nav {
    background-color: #f8f9fa;
    width: 100%;
    position: fixed;
    color: #192d50;
    text-decoration: none;
    justify-content: center;
    font-size: 15px; }
  .contenedor .contenedor__header .header__logo {
    width: 250px; }

.contenedor__header nav a {
  margin: 0px 20px 0px 20px; }

.contenedor__contenido {
  /*grid-column: span 3;*/
  background-color: asd;
  color: #010101;
  grid-area: contenedor__contenido;
  justify-self: center;
  align-self: flex-start;
  display: grid;
  max-width: 100%;
  height: 100%; }

.contenedor__sidebar {
  /*grid-column: span 3;*/
  background-color: #edebec;
  color: #010101;
  grid-area: contenedor__sidebar;
  justify-self: center;
  align-self: flex-start;
  display: grid;
  max-width: 100%;
  height: 100%; }

.contenedor__footer {
  background: #fff;
  color: #010101;
  grid-area: contenedor__footer;
  padding: 30px 0px 10px 0px;
  display: grid;
  justify-self: stretch;
  align-self: stretch; }

.contactoColumna33 {
  display: inline-grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: center; }
  .contactoColumna33 .contact {
    list-style: none; }

.novedadesColumna33 {
  display: inline-grid;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: center; }
  .novedadesColumna33 .blockNov input {
    width: 100%; }

.botonEnviarFooter input {
  width: 30%;
  margin-top: 10px;
  justify-content: center; }

.barra {
  font-size: 14px;
  display: grid;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 0; }

.redesColumna33 {
  display: inline-grid;
  grid-column-start: 3;
  grid-column-end: 3;
  width: 100%;
  justify-content: center;
  text-align: center; }
  .redesColumna33 .redesColumna33 h3 {
    display: inline-grid;
    text-align: left;
    padding-right: 30px;
    justify-self: center; }

.redesColumna33 .redes {
  list-style: none;
  display: inline-flex;
  justify-self: center; }

/*

.redesColumna33 .fb {

	

	display: inline-grid;

	}
	
.redesColumna33 .ig {

	
	
	display: inline-grid;
		
	
}
*/
#social-facebook, #social-instagram {
  width: 35px;
  height: 35px;
  display: inline-grid; }

#social-facebook {
  background-image: url(../img/social/facebook.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

#social-instagram {
  background-image: url(../img/social/instagram.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

/*INDEX*/
.contenido__bloqueHome {
  margin: 0px 0px 30px 50px;
  padding: 0px 0px 30px 0;
  justify-self: center;
  align-self: flex-start;
  width: 75%;
  grid-area: contenedor__contenido; }
  .contenido__bloqueHome h1 {
    font-size: 40px; }
  .contenido__bloqueHome p {
    font-size: 22px;
    color: #010101;
    font-weight: lighter; }
  .contenido__bloqueHome b {
    font-weight: bold; }

.sidebar__imagenes {
  grid-area: contenedor__sidebar;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  animation: aparecer 2s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* TURNOS */
.contenido__bloqueTurnos {
  align-self: flex-start;
  width: 75%;
  grid-area: contenedor__contenido; }
  .contenido__bloqueTurnos h1 {
    font-size: 38px; }
  .contenido__bloqueTurnos .olTurnos {
    margin-top: 20px; }
    .contenido__bloqueTurnos .olTurnos li {
      font-size: 18px;
      font-style: lighter;
      justify-content: flex-end;
      width: 80%;
      text-align: justify;
      margin-left: 50px;
      margin-bottom: 10px; }

.botonDatos {
  color: #010101;
  background-color: white;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  width: 30%;
  display: inline-grid;
  margin-left: 300px;
  margin-top: 50px; }

.contenido__padreFlexForm {
  width: 75%;
  align-self: flex-end;
  grid-area: contenedor__contenido;
  margin-top: 350px; }
  .contenido__padreFlexForm .formTurnos {
    font-size: 16px;
    margin-bottom: 20px;
    width: 80%; }
  .contenido__padreFlexForm label {
    margin-left: 35px; }
  .contenido__padreFlexForm input {
    margin-left: 35px; }

.contenido__padreFlexForm .formTurnos select {
  width: 100%;
  margin-left: 35px; }

.botonEnviar {
  color: #010101;
  background-color: white;
  font-size: 15px;
  font-weight: lighter;
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 20px;
  display: inline-grid;
  margin-left: 300px; }

#img-turnos1 img {
  grid-area: contenedor__sidebar;
  align-self: flex-start; }

#img-turnos2 iframe {
  width: 100%;
  height: 600px;
  grid-area: contenedor__sidebar;
  align-self: flex-end;
  margin-top: 120px; }

/* SALUD VISUAL */
.contenido__bloqueSalud {
  width: 420px;
  margin-top: 140px;
  grid-area: contenedor__contenido;
  justify-self: center;
  align-self: center;
  display: inline-grid; }
  .contenido__bloqueSalud h1 {
    font-size: 40px; }
  .contenido__bloqueSalud p {
    font-size: 22px;
    line-height: 1.4;
    text-align: justify;
    margin-top: 30px;
    font-weight: lighter; }

.botonIr {
  text-align: right;
  justify-self: flex-end;
  align-self: center; }

.sidebar__imagenesSalud {
  display: grid;
  grid-area: contenedor__sidebar;
  grid-gap: 20px; }
  .sidebar__imagenesSalud .imagenesSalud__img1 {
    width: 100%;
    text-align: right; }
  .sidebar__imagenesSalud .imagenesSalud__img2 {
    display: inline-grid;
    width: 100%;
    justify-self: center;
    align-self: center; }

/* NOVEDADES */
.contenido__bloqueNovedades1 {
  width: 400px;
  text-align: justify;
  justify-self: center;
  align-self: flex-start;
  grid-area: contenedor__contenido;
  margin-bottom: 400px; }
  .contenido__bloqueNovedades1 h1 {
    font-size: 45px;
    text-align: left; }
  .contenido__bloqueNovedades1 p {
    font-size: 22px;
    line-height: 1.4;
    font-weight: lighter; }

.contenido__bloqueNovedades1 .masInfo {
  font-size: 18px;
  width: 400px;
  font-style: italic;
  margin-top: 10px; }

.botonWeb {
  font-size: 18px;
  width: 400px;
  margin-left: 10px;
  color: black; }

.contenido__bloqueNovedades2 {
  width: 400px;
  text-align: justify;
  justify-self: center;
  align-self: flex-end;
  grid-area: contenedor__contenido;
  margin-bottom: 200px; }

.contenido__bloqueNovedades2 h2 {
  margin-top: 200px;
  text-align: justify-all;
  font-size: 30px; }

.contenido__bloqueNovedades2 .textoBloque2 {
  font-size: 22px;
  line-height: 1.4;
  font-weight: lighter;
  margin-top: 40px; }

/*
.sidebar__imagenNovedades1 .novImg1 {

width: 100%;
grid-area: sidebar;


	
	


}


.sidebar__imagenNovedades2 .novImg2 {

	
	width: 100%;
	grid-area: sidebar;


	


}

*/
/*AYUDA*/
.sidebar__imagenesAyuda .ayudaImg1 {
  width: 100%;
  grid-area: contenedor__sidebar; }

.sidebar__imagenesAyuda .ayudaImg2 {
  width: 100%;
  grid-area: contenedor__sidebar; }

.contenido__bloqueAyuda1 {
  grid-area: contenedor__contenido;
  justify-self: center;
  align-self: center;
  width: 75%;
  margin-top: 150px;
  margin-left: 50px; }

.contenido__bloqueAyuda1 h1 {
  font-size: 40px; }

.contenido__bloqueAyuda1 p {
  text-align: justify;
  font-size: 19px;
  line-height: 1.5; }

.contenido__bloqueAyuda2 {
  width: 75%;
  grid-area: contenedor__contenido;
  text-align: justify;
  justify-self: center;
  align-self: flex-end;
  margin-left: 50px;
  margin-top: 200px; }

.contenido__bloqueAyuda2 h2 {
  font-size: 30px;
  text-align: left; }

.contenido__bloqueAyuda2 ol {
  text-align: justify;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 50px;
  margin-left: 25px;
  width: 100%; }

.contenido__dudasAyuda p a {
  text-align: justify;
  font-size: 18px;
  font-style: italic;
  justify-content: flex-end; }

/*CONTACTO*/
.sidebar__imagenesContacto .ayudaCon1 {
  width: 100%;
  display: inline-grid;
  grid-area: contenedor__sidebar; }

.sidebar__imagenesContacto .ayudaCon2 {
  width: 100%;
  display: inline-grid;
  grid-area: contenedor__sidebar; }

.contenido__bloqueContacto1 {
  width: 400px;
  display: inline-grid;
  grid-area: contenedor__contenido;
  align-self: flex-start; }

.contenido__bloqueContacto1 h1 {
  font-size: 40px; }

.contenido__bloqueContacto1 p {
  text-align: justify;
  font-size: 19px;
  line-height: 1.5; }

.contenido__formContacto {
  margin-top: 200px;
  width: 400px;
  display: inline-grid;
  grid-area: contenedor__contenido;
  align-self: flex-end; }

.contenido__formContacto h2 {
  font-size: 28px;
  padding-bottom: 30px; }

.contenido__formContacto .contactoForm {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6; }

.contenido__formContacto .contactoForm input {
  width: 80%;
  display: inline; }

label {
  display: inline; }

input .check {
  display: inline; }

.contenido__formContacto .contactoForm select {
  width: 80%;
  font-size: 16px; }

.contenido__formContacto .contactoFormText {
  font-size: 16px; }

.contenido__formContacto .contactoFormText textarea {
  width: 80%;
  font-size: 16px; }

.botonSubmitContacto {
  color: #010101;
  background-color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 30%;
  justify-self: end;
  justify-content: end;
  align-items: flex-end;
  padding: 5px;
  display: inline-grid;
  margin-left: 200px; }

.botonResetContacto {
  color: #010101;
  background-color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 40%;
  padding: 5px;
  margin-top: 20px;
  margin-left: 160px; }

@media only screen and (max-width: 480px) {
  * {
    max-width: 480px;
    margin: 0;
    padding: 0; }
  .contenedor {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "contenedor__header" "contenedor__contenido" "contenedor__sidebar" "contenedor__footer"; } }
