/* Variables */

$title-font: 'Roboto', sans-serif;
$background-color: #edebec;
$bckColor: asd;
$imagenes: (turnos1, turnos2, saludvisual1, saludvisual2, novedades1, novedades2, ayuda1, ayuda2, contacto1, contacto2);

@each $animation in $imagenes {
	#img-#{$animation} {
		
	animation: aparecer 2s;
	}
} 

@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

/* SCSS*/

* {
	margin: 0;
	padding: 0;

body {

	@if $bckColor==azul {
		background-color:blue;
	}
	@else if $bckColor==rojo {
		background-color:red;
	}
	@else if $bckColor==verde {
		background-color:green;
	}
	@else {
		background-color: $background-color;
	}
	
	font-family: $title-font;
	width: 100%;


	}

}





@mixin sizes($width, $height) {
   height: $height;
   width: $width;
}


.contenedor {


	 @include sizes(100%, 100%);


	
	

	
	
	margin: 0;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "contenedor__header contenedor__header  contenedor__header  contenedor__header"
						 "contenedor__contenido contenedor__contenido contenedor__sidebar contenedor__sidebar"
						 "contenedor__footer contenedor__footer contenedor__footer contenedor__footer"


}



.contenedor > div,
.contenedor .contenedor__header,
.contenedor .contenedor__contenido,
.contenedor .contenedor__sidebar,
.contenedor .contenedor__footer {



}


.contenedor .contenedor__header {

	grid-area: contenedor__header;
	display: grid;
	background-color: #f8f9fa;
	
	z-index: 2;
	box-shadow: 0 0 3px 3px #edebec;
	
	
	align-items: right;
	color: #192d50;
	width: 100%;

	position: fixed;

	animation: slideInDown 1s;

.navbar-nav {

	

	background-color: #f8f9fa;
	
	
	
	width: 100%;

	position: fixed;

		color: #192d50;
	text-decoration: none;
	justify-content: center;
	
	
	
	font-size: 15px;


}
	


#nav {

	color: #192d50;


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: black;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


}







		.header__logo {

	width: 250px;
	
	

}
}

	.contenedor__header nav a {

margin: 0px 20px 0px 20px;
color: #192d50;




}





.contenedor__contenido {

	/*grid-column: span 3;*/
	
	background-color: $bckColor;
	color: #010101;
	grid-area: contenedor__contenido;
	justify-self: center;
	align-self: flex-start;
	
	display: grid;
	max-width: 100%;
	height: 100%;


}

.contenedor__sidebar {

	/*grid-column: span 3;*/
	
	background-color: $background-color;
	color: #010101;
	grid-area: contenedor__sidebar;
	justify-self: center;
	align-self: flex-start;
	display: grid;
	max-width: 100%;
	height: 100%;


}

.contenedor__footer {

	background: #fff;
	color: #192d50;
	grid-area: contenedor__footer;
	padding: 20px 0px 0px 0px;
	margin-bottom: 0px;
	z-index: 2;
	box-shadow: 0 0 3px 3px #edebec;

	display: grid;
	justify-self: stretch;
	align-self: stretch;


}




.contactoColumna33 {

	
	
	display: inline-grid;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 1;
	justify-content: center;

.contact {

list-style: none;


}
}
	






.novedadesColumna33 {


	display: inline-grid;
	width: 100%;
	grid-column-start: 2;
	grid-column-end: 2;

	justify-content: center;

.blockNov input {
	
	
	width: 100%;
	



	
}


}

.botonEnviarFooter input {

	width: 30%;
	margin-top: 10px;
	justify-content: center;


	
	
}

.barra {

font-size: 14px;
display: grid;
	width: 100%;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-content: flex-end;
	padding-top: 20px;
	padding-bottom: 0;
	margin-bottom: 0;

	
}	



.redesColumna33 {

	
	
	display: inline-grid;

	grid-column-start: 3;
	grid-column-end: 3;
	
	width: 100%;
	justify-content: center;
	text-align: center;

.redesColumna33 h3 {

	display: inline-grid;
	text-align: left;
	padding-right: 30px;
	justify-self: center;


	}


}
.redesColumna33 .redes {

	
	list-style: none;
	

display: inline-flex;
justify-self: center;



	
}



%icon {
		width: 35px;
		height: 35px;
		display: inline-grid;



&:hover {

	
    
    opacity: 0.5;

}
}
$redes: (facebook, instagram);

@each $social in $redes {
	#social-#{$social} {

		@extend %icon;
		background-image: url(../img/social/#{$social}.png);


		
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
} 


/*INDEX*/

@import 'index.scss';


/*TURNOS*/

@import 'turnos.scss';


/* SALUD VISUAL */	

@import 'salud-visual.scss';


/* NOVEDADES */	

@import 'novedades.scss';

/*AYUDA*/

@import 'ayuda.scss';


/*CONTACTO*/

@import 'contacto.scss';




/*MEDIA QUERY*/

@import 'media-query.scss';









