
.contenido__bloqueTurnos {

	margin-top: 150px;
	align-self: flex-start;
	justify-self: center;
	width: 80%;
	margin-left: 20px;
	grid-area: contenedor__contenido;

	
h1 {

	font-size: 38px;
	

}


.olTurnos {

	margin-top: 20px;
	text-align: justify;
	font-style: italic;
	font-size: 22px;
	line-height: 1.4;
	font-weight: lighter;




li {

	font-size: 18px;
	font-style: lighter;
	justify-content: flex-end;
	width: 80%;
	text-align: justify;
	margin-left: 50px;
	margin-bottom: 10px;

}

}

}

#btn-datos {

	color: #192d50;
	background-color: #f8f9fa;
	margin-right: 30px;
	border-radius: 20px;
	border: none;

	.hvr-shadow {

	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: box-shadow;
	  transition-property: box-shadow;
}

	.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
 	 box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

}

.contenido__padreFlexForm {

	width: 100%;
	align-self: flex-end;
	justify-self: center;
	grid-area: contenedor__contenido;
	margin-top: 200px;

.formTurnos {

	font-size: 16px;
	margin-bottom: 20px;
	width: 80%;

}


label {

	margin-left: 35px;
}

input {

	margin-left: 35px;
}

}

.contenido__padreFlexForm .formTurnos select {
	
	width: 100%;
	margin-left: 35px;

}

#btn-enviar {
	color: #192d50;
	background-color: #f8f9fa;
	border-radius: 20px;
	border: none;

	.hvr-shadow {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}


.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

}

.sidebar__imagenesTurnos #img-turnos1   {

	width: 100%;
	display: grid;
	grid-area: contenedor__sidebar;
	align-self: flex-start;
	justify-self: center;

}

.sidebar__imagenesTurnos #img-turnos2 {

	width: 100%;
	height: 600px;
	display: grid;
	grid-area: contenedor__sidebar;
	align-self: flex-end;
	margin-top: 120px;

}



